@page
@model IndexModel
@{
    Layout = "_LayoutAuth";
    ViewData["Title"] = "Inicio";
}
    <a href="login">Ingresar (Login)</a></span>
    <br>
    <a href="Register">Registrarse</a></span>
    <br>
    <a href="Pacientes/Index">Ingresar Pacientes</a></span>
    <br>
    <a href="Medicos/Index">Ingresar Medicos</a></span>
    <br>
    <a href="Admin/Index">Ingresar Admin</a></span>
    
