@page
@model Ips.App.Frontend.Pages.LoginModel
@{
    Layout = "_LayoutAuth";
    ViewData["Title"] = "Identificate";
}
<form action="Admin/index" method="GET" class="cr-form">
    <h1>Identificate</h1>
    <input type="text" name="username" placeholder="Usuario o Cedula">
    <input type="password" name="password" placeholder="Contraseña">
    <input type="submit" value="Identificarse">
    <a href="register">Olvidé mi contraseña</a>
    <span>¿No estás registrado? <a href="register">Registrarse</a></span>
</form>